<div class="container">
    <div *ngFor="let cat of Categories; let row = index">
        <div *ngIf="row % 3 == 0" class="row">
            <div *ngIf="row != 0" class="spacer-lg"></div>
            <ng-container *ngFor="let offset of [0,1,2];">
                <div *ngIf="row + offset < Categories.length;" class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{Categories[row + offset].Name}}</h5>
                            <p class="card-text">{{Categories[row + offset].Description}}</p>
                            <a href="#" class="btn btn-primary">Show More</a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>